@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>This application is a tool to help reduce waste and lower costs by providing a simple way to track how long food has been on the shelf.</p>
