@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>Github:</strong> <a href="https://github.com/Kmb0027">My GitHub</a>
</address>

<address>
    <strong>Email:</strong> <a href="mailto:Kmb0027@gmail.com">Creator</a><br />
</address>
