@model ShelfLife.ViewModels.FoodItemViewModel

@{
    Layout = "_Layout";
}

<h2>These are the items in your pantry</h2>
<table class=" table table-bordered table-hover">
    <tbody>
        <tr>
            <th>Name</th>
            <th>Days Remaining</th>
        </tr>
        @foreach (FoodItem foodItem in Model.foodItems)
        {
            <tr>
                <td>@foodItem.Name</td>
                <td>@foodItem.DaysRemaining</td>
                <td>
                    @using (Html.BeginForm("Delete", "Home", "Post"))
                    {
                        <input asp-for="FoodItemIdToDelete" class="control-label" type="hidden" value="@foodItem.FoodId" />
                        <input type="submit" value="Remove" class="btn btn-default" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
